@use "_variables" as vars;
@use "_mixins" as mixins;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-family-base;
  color: vars.$color-text-main;
  line-height: 1.5;
}

a {
  color: vars.$color-link;
  &:hover {
    color: vars.$color-link-hover;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
